.contact-me {
  text-align: center;
  font-weight: 700;
  padding-top: 50px;
  font-size: 3.2rem;
  color: #3A4444;
  padding-bottom: 20px;
}

.intro {
  text-align: center;
  font-size: 1.7rem;
}

.btn-lg {
  margin-top: 20px;
  border: 2px solid #2A3A3F;
  border-radius: 20px;
  background-color: #38D9E5;
  width: 10em;
}

.mail a {
  color: #2A3A3F;
  text-decoration: none;
  transition: all 0.3s ease-in-out
}

.mail a:hover {
  color: #38D9E5;
  background-color: #2A3A3F;
  width: 12em;
  transition: all 0.3s ease-in-out
}