.navbar {
  border-radius: 0px;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #D6D1DA;
}

.navbar-default .navbar-nav > .active > a {
  color: #D6D1DA;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active {
  background-color: transparent;
  border-bottom: 4px #30EDE3 solid;
}

.navbar-default .navbar-nav > .active a:hover {
  color: #D6D1DA;
  background-color: transparent;
}

.social-link {
  margin-right: 25px;
  margin-top: 10px;
}
